* {
    font-family: 'Josefin Sans', sans-serif;
}
@media screen and (min-width: 1000px) {
.main-box {
    margin: 0px auto;
    max-width: 720px;
    margin-top: 2%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    z-index: 2;
    background-color: cyan;
    font-size: 2em;
    font-stretch: expanded;
    border-left: 4px;
    border-right: 4px;
}

h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 2em;
}
}

.dream {
    font-family: 'Indie Flower', cursive;
    color: red;
    font-weight: 1000;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    z-index: 5;
    position: relative;
    top: 25px;
    right: 35px;
}

#author {
    float: right;
    clear: both;
}

button {
    height: 42px;
    margin-top: 25px;
    color: white;
    background-color: crimson;
    border-radius: 5px;
    font-size: .6em;
    border: none;
}

button:hover {
    background-color: red;
}

#tweet {
    float: right;
    background-color: dodgerblue;
    margin-left: 3px;
}
#wa {
    float: right;
    background-color: forestgreen;
}

#tweet:hover, #wa:hover {
    color: white;
    opacity: 0.9;
    border: none;
}


.footer {
    max-width: 720px;
    margin: 0 auto;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 999px) {
    .main-box {
        margin: 0 auto;
        padding: 20px;
        border: none;
        font-size: 3.2em;
        border-radius: 5px;
        z-index: 2;
        background-color: cyan;
        border-left: 4px;
        border-right: 4px;
        clear: both;
    }
    
    .author {
        clear: both;
    }

    h2 {
        text-align: center;
        font-size: 2.5em;
    }
    body {
        margin: 2 auto; 
    }
    button {
        font-size: .7em;
    }
    
    #tweet, #wa {
        font-size: .8em;
        height: auto;
        margin-top: 25px;
    }
}